body {
    font-family: 'Sora', sans-serif;
    background-color: #070E27;
    color: #fff;
}
.container{
    max-width: 1060px;
    padding-top: 10px;
}
.container-max{
    max-width: 1280px;
}
.wrapper{
    max-width: 1060px;
}
.bg-blue{
    background-color: #070E27;
}
.navbar-brand{
    width: 32px;
    height: 32px;
}
.navbar-light .navbar-brand{
    font-size: 24px;
    color: #fff;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color: #0059F7;
}
.btn-outline-success:active:focus{
    box-shadow: none;
}
.navbar-light .navbar-brand{
    font-size: 24px;
    color: #fff;
}
.d-inline-block{
    margin-right: 20px;
}
.btn-outline-success{
    background-color: #162044;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 16px 24px;
}
.btn.btn-outline-success:hover, .btn.btn-outline-success:active, .btn.btn-outline-success:focus{
    background-color: #0059F7;
}

.btn-outline-success:active:focus{
    background-color: #0059F7;
}
.btn-check:focus+.btn-outline-success, .btn-outline-success:focus{
    background-color: #0059F7;
    box-shadow: none;
}
.img-bg{
    display: block
}
.img-fluid{
    display: block;
    margin-left: -100px;
    
    max-width: 1280px;
    height: auto;
}
.col-title{
    width: 460px;
    height: 240px;
    font-size: 64px;
    font-weight: 700;
}
.col-title-text{
    width: 400px;
    height: 96px;
    font-size: 20px;
    font-weight: 400;
    color: #7E8BB6;
    margin-top: 20px;
}
.title-text {
    padding-top: 20px;
}
.btn-title{
    background-color: #0059F7;
    font-size: 16px;
    font-weight:300;
    border: none;
    border-radius: 8px;
    padding: 16px 24px;
    margin-top: 32px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}
.btn-secondary:active, .btn-secondary:focus{
    background-color: #00308F;
    box-shadow: none;
    outline: none;
}
.btn-secondary:active:focus{
    box-shadow: none;
}
.btn-secondary:hover{
    background-color: #00308F;
}
.btn-secondary:focus{
    background-color: #0059F7;
    box-shadow: none;
}
.btn-secondary:active{
    background-color: #00308F;
    border: none;
    box-shadow: none;
}
.img-bg{
    margin-top: 72px;
    
}
.social{
    margin-top: 50px;
}
.features-title{
    font-size: 48px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 16px;
    margin-left: 110px;
}
.features-text{
    font-size: 20px;
    font-weight: 400;
    color: rgba($color: #7E8BB6, $alpha: 1.0);
    width: 400px;
    height: 65px;
    margin-bottom: 32px;
    margin-left: 110px;
}
.row-features{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 100px;
}
.card-features {
    width: 400px;
    height: 290px;
    background-color: #070E27;
    border:1px solid #162044;
    border-radius: 16px;
    padding: 32px;
    cursor: pointer;
}
.card-features:hover{
    background-color: #081131;
}
.card-img, .card-img-bottom, .card-img-top{
    width: 40px;
    margin: 0;
    padding: 0;
    margin-bottom: 22px;
    margin-left: 20px;
}
.card-title{
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 16px;
}
.card-text{
    width: 340px;
    height: 36px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #CCD2E9;
    text-align: left;
    
}
.container-get_started{ 
    display: flex;
    flex-wrap: wrap;
    margin-top: 69px;
    justify-content: center;
    padding-left: 75px;
}
.wrapper{
    max-width: 1060px;
}
.get_started-items{
    display: table-cell;
    width: 875px;
    text-align: center;
    background-color: #0059F7;
    border: none;
    border-radius: 24px;
    padding: 72px;
    
}
.get_started-text{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    opacity: 0.5;
    text-transform: uppercase;
}
.get_started{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 32px;
}
.btn__started.btn-success{
    outline: none;
    border: none;
    transition: .2s ease all;
    border-radius: 8px;
    padding: 20px 58px 20px 24px;
    text-align: center;
    background: url(../img/arrow.svg) no-repeat center right 30px rgba(104, 158, 255, 1);
}
.btn-check:focus+.btn-success, .btn-success:focus{
    box-shadow: none;
}
.btn-success:active:focus:hover{
    opacity: 80%;
    box-shadow: none;
}

.container-work{
    margin-top: 40px;
}
.wrapper{
    max-width: 1060px;
}
.work-text{
    color: #7E8BB6;
    text-transform: uppercase;
    text-align: center;
    margin-left: 65px;
}
.work-title{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-left: 65px;
}
.work-item{
    align-items: center;
    margin-top: 90px;
}
.item02{
    padding-top: 45px;
}
.item-title{
    font-size: 36px;
    font-weight: 600;
}
.item-text{
    font-size: 20px;
    color: #7E8BB6;
}
.container.container-trial{
    margin-top: 172px;
    margin-bottom: 132px;
}
.trial{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #0059F7;
    border-radius: 24px;
    background-color: #0059F7;
    padding: 56px 56px;
}
.trial-text{
    font-size: 16px;
    font-weight: 400;
    color: rgba($color: #7E8BB6, $alpha: 1.0);
    margin-bottom: 16px;
}
.trial-title{
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.03em;
}
.btn_trial .btn-success{
    background-color: rgba(104, 158, 255, 1);
    outline: none;

}
footer{
    background-color: #162044;
}
.footer-content{
    display: flex;
    padding: 48px 0;
}
.icon{
    margin-right: 165px;
}
.icon a{
    width: 20px;
    height: 20px;
    color: #CCD2E9;
    margin-right: 40px;
}
.icon a:last-child{
    margin-right: 0;
}
.company-items{
    margin-right: 235px;
}
.company-items a{
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: #CCD2E9;
    margin-right: 24px;
}
.company-items a:hover{
    text-decoration: underline;
}
.copyraid span{
    font-size: 14px;
    line-height: 24px;
    color: #CCD2E9;
}


